@model List<Luht_SkiJumpers.Models.Jumpers>

<h2>Rankings</h2>
<table class="table">
    <thead>
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Distance</th>
            <th>DNF</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jumper in Model)
        {
                <tr>
                    <td>@jumper.Standings</td>
                    <td>@jumper.Name</td>
                    <td>@jumper.Distance</td>
                    <td>@(jumper.Started?"Yes":"No")</td>
                </tr>
        }
    </tbody>
</table>