<link rel="stylesheet" href="~/css/Home-Privacy.css"/>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4"><strong>Welcome</strong></h1>
    <p>Our website is designed to provide you with all the information about Luht Ski Jumpers event and stay informed about the athletes performances.</p>
</div>
