@{
    ViewData["Title"] = "Descend";
}

<h1>@ViewData["JumperName"] is Descending!</h1>

<form method="post" asp-action="Fail">
    <button type="submit" class="btn btn-primary">DNF</button>
</form>
<form method="post" asp-action="Leave">
    <button type="submit" class="btn btn-primary">Finish Descent</button>
</form>
