@model Luht_SkiJumpers.Models.Jumpers
@{
    ViewData["Title"] = "Descend";
}

<h1>Descend</h1>

<form method="post" asp-action="Descend">
    <div class="form-group">
        <label for="Id">Enter Jumper ID:</label>
        <input type="text" name="Id" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Start Descent</button>
</form>


@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}
