@model Luht_SkiJumpers.Models.AddJumpers
@{
    ViewData["Title"] = "Jump";
}

<h1>Jump</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<form asp-controller="Jump" asp-action="Descend" method="post">
    <div class="form-group">
        <label asp-for="Id">Jumper ID:</label>
        <input type="text" class="form-control" asp-for="Id" />
    </div>
    <input type="submit" value="Descend" class="btn btn-primary" />
</form>
